<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>One Man's Trash</title>
</head>

<body>
  <div id="home">
    <div class="container">
      <div class="row">
        <div class="col-12 mb-5">
          <h1><img
              src="https://s3-ap-southeast-2.amazonaws.com/apac-production-wp/app/uploads/2017/08/19083003/logo-placeholder-1.png">One
            Man's Trash</h1>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog form-dark" role="document">
              <!-- Modal Content-->
              <div class="modal-content card card-image"
                style="background-image: url('https://www.thindifference.com/wp-content/uploads/2014/06/L1020944.jpg');">
                <div class="text-white rgba-stylish-strong px-5 z-depth-4">
                  <!-- Modal Header-->
                  <div class="modal-header text-center pb-4">
                    <h3 class="signUp"><strong>SIGN UP</strong></h3>
                    <button type="button" class="close white-text" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <!--Modal Body-->
                  <div class="modal-body">
                    <!--Body-->
                    <div class="md-form mb-5">
                      <input type="email" id="Form-email5" class="form-control validate white-text">
                      <label data-error="wrong" data-success="right" for="Form-email5">Your
                        email</label>
                    </div>

                    <div class="md-form pb-3">
                      <input type="password" id="Form-pass5" class="form-control validate white-text">
                      <label data-error="wrong" data-success="right" for="Form-pass5">Your
                        password</label>
                    </div>

                    <!--Grid row-->
                    <div class="row d-flex align-items-center mb-4">

                      <!--Grid column-->
                      <div class="text-center mb-3 col-md-12">
                        <button type="button" class="btn btn-success btn-block btn-rounded z-depth-1">Sign up</button>
                      </div>
                      <!--Grid column-->

                    </div>
                    <!--Grid row-->

                    <!--Grid row-->
                    <div class="row">

                      <!--Grid column-->
                      <div class="col-md-12">
                        <p class="font-small white-text d-flex justify-content-end">Have an account?
                          <a href="#" class="green-text ml-1 font-weight-bold">
                            Log in</a></p>
                      </div>
                      <!--Grid column-->

                    </div>
                    <!--Grid row-->

                  </div>
                </div>
              </div>
              <!--/.Content-->
            </div>
          </div>

          <a href="#" data-toggle="modal" data-target="#myModal">Login</a>

        </div>
      </div>
    </div>

  </div>
  {{{body}}}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

</body>

</html>