<main class="input-container">

    <header class="input-header">
        <h2>What's on your mind?</h2>
    </header>

    <section class="inputs">
        <form id="post" class="inputs-form">
            <label>Message:</label>
            <input type="text" id="postBody" class="form-control" aria-describedby="example-text" placeholder="What would you like to say?">

            <button type="button" class="submitBtn" id="createPostBtn">Submit</button>


        </form>
    </section>
</main>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/posts/createPost.js"></script>