<div class="row">
    <section class="col-6 offset-3">
        <div class="row">
            <h2 class="title">Saved Items</h2>
        </div>
        <div class="savedItems"><label for="savedItems">Placeholder</label><button id="delete"
                class="btn-danger">Delete</button></div>
        <div class="savedItems"><label for="savedItems">Placeholder</label><button id="delete"
                class="btn-danger">Delete</button></div>
        <div class="savedItems"><label for="savedItems">Placeholder</label><button id="delete"
                class="btn-danger">Delete</button></div>
        <div class="savedItems"><label for="savedItems">Placeholder</label><button id="delete"
                class="btn-danger">Delete</button></div>
        <div class="savedItems"><label for="savedItems">Placeholder</label><button id="delete"
                class="btn-danger">Delete</button></div>


    </section>

</div>