<div class="container">
  <div class="jumbotron mt-4">
    <main class="signUp-container">
      <form class="text-center border border-light" action="#">
        <h2>BUILD YOUR PROFILE</h2>
        <div class="form-control col-4 offset-4 mb-4">
          <input type="email" id="signup-email-input" class="form-control mb-4" placeholder="Email">
          <input type="password" id="signup-password-input" class="form-control mb-4" placeholder="Password">
          
          <button class="btn btn-warning my-4 btn-block signup-btn" type="submit">Register</button>
        </div>
        <hr>
      </form>
    </main>
  </div>
</div>