<div class="container">
  <div class="jumbotron mt-4">
    <main class="signUp-container">
      <form class="text-center border border-light" action="#">
        <h2>BUILD YOUR PROFILE</h2>
        <div class="form-control col-4 offset-4 mb-4">
          <input type="text" id="firstName" class="form-control mb-4" placeholder="First name">
          <input type="text" id="lastName" class="form-control mb-4" placeholder="Last name">
          <input type="email" id="email" class="form-control mb-4" placeholder="Email">
          <input type="text" id="username" class="form-control mb-4" placeholder="Username">
          <input type="password" id="password" class="form-control mb-4" placeholder="Password">
          <button class="btn btn-warning my-4 btn-block" type="submit">Register</button>
        </div>
        
        <hr>
      </form>
    </main>
  </div>
</div>