
{{!--
<div class="container">
  <div class="jumbotron mt-4">
    <main class="signUp-container">
      <form class="text-center border border-light" action="#">
        <h2>BUILD YOUR PROFILE</h2>
        <div class="form-control col-4 offset-4 mb-4">
          <input type="email" id="signup-email-input" class="form-control mb-4" placeholder="Email">
          <input type="password" id="signup-password-input" class="form-control mb-4" placeholder="Password">
          
          <button class="btn btn-warning my-4 btn-block signup-btn" type="submit">Register</button>
        </div>
        <hr>
      </form>
    </main>
  </div>
</div>
--}}

<main class="signUp-container">
    <header class="input-header">
        <h2>Sign Up Here!</h2>
    </header>

    <section class="inputs">
        <form class="inputs-form">
            <div class="form-grid">
                <label for="signup-name" class="form-prompt">Name:</label>
                <input type="name" id="signup-name-input" placeholder="John Doe" class="textfield">
                
                <label for="signup-email" class="form-prompt">E-mail:</label>
                <input type="email" id="signup-email-input" placeholder="youremail@email.com" class="textfield">

                <label for="signup-password" class="form-prompt">Password:</label>
                <input type="password" id="signup-password-input" placeholder="password" class="textfield">
            </div>

            <input type="submit" value="Submit" id="submitBtn" class="submitBtn">
        </form>
    </section>
</main>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/signup.js"></script>