.list-group-item {
  line-height: 2.5;
}
body {
  background-color: #C9E7ED;
}
h1 {
  font-size: 50px;
  color: white;
  background-color: #71DA62;
  margin: 10px;
  box-shadow: 5px 5px skyblue;
  text-shadow: 2px 2px 4px #000000;
  width: 50%;
}
#submit {
  margin-bottom: 100px;
}
section {
  border-style: groove;
  border-color: white;
}
h1 img {
  width: 500px;
  height: 250px;
}
.form-control {
  border-style: ridge;
  border-color: black;
  border-width: 1px;
}
.card {
  /* width: 21%!important; */
  /* float: right; */
  margin: 10px;
  font-size: 10px;
}

.save-button {
  width: 50px
}
.savedItems {
  display: block;
}
label {
  padding-right: 15%;
}
.modal-content{
  width: 85%!important;
}
.signUp {
  width: 100%;
}
.form-control {
  text-align: center;
}
.btn-dark {
  margin: 1%;
  float: right;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  background-color: lightblue;
  color: black;
}

.title {
  color: white;
  background-color: #71DA62;
  margin: 10px;
  box-shadow: 5px 5px skyblue;
  text-shadow: 2px 2px 4px #000000;
  width: 100%;
  text-align: center;
}
.subTitle {
  color: white;
  background-color: green;
  margin: 10px;
  box-shadow: 5px 5px skyblue;
  text-shadow: 2px 2px 4px #000000;
  width: 100%;
  text-align: center;
  font-size: 20px;
}
.col-4 {
  text-align: center;
}
@media only screen and (max-width:800px) {
  h1 img {
    width: 400px;
    height: 200px;
  }
}

@media only screen and (max-width:600px) {
  h1 img {
    width: 200px;
    height: 100px;
  }
  #signin-email {
    width: 80%;
  }
  #signin-password {
    width: 80%;
  }
}
